<header>
    <div class="grid" id="site-header">

        <div class="col-1 burger-menu" fxHide.gt-sm>
            <mat-icon (click)="onToggleSidenav()">menu</mat-icon>
        </div>

        <div class="col-6 logo-small" routerLink="/" fxHide.gt-sm>
            <p>Eshop</p>
        </div>

        <div class="col-2 col-offset-1" routerLink="/" fxHide.lt-md>
            <div class="logo">
                <img src="assets/images/logo.png" alt="logo">
            </div>
        </div>

        <div class="col-4 search" fxHide.lt-md>
            <products-search class="products-search"></products-search>
        </div>

        <div class="col-4 tools">
            <ngshop-nav class="col-12"></ngshop-nav>
        </div>

        <div class="col-1"></div>
    </div>
</header>