<div class="nav grid" fxHide.lt-md>
    <div class="col"><a routerLink="/">Home</a></div>
    <div class="col"><a routerLink="/products">Products</a></div>
    <div class="col"><a routerLink="/">Contact</a></div>
    <div class="col-1"><i class="pi pi-user"></i></div>
    <div class="col-1"><orders-cart-icon></orders-cart-icon></div>
</div>

<div class="nav-small grid" fxHide.gt-sm>
    <div class="col-4"></div>
    <div class="col-4"><i class="pi pi-user"></i></div>
    <div class="col-4"><orders-cart-icon></orders-cart-icon></div>
</div>