<div class="home-page-container">
    <ngshop-messages></ngshop-messages>
    <mat-sidenav-container>
        <mat-sidenav #sidenav role = "navigation">
            <ngshop-sidenav-list (sidenavClose) = "sidenav.close()"></ngshop-sidenav-list>
        </mat-sidenav>
        <mat-sidenav-content class = "track-scrolling">
            <ngshop-header [ngClass] = "hide ? 'site-header hide': 'site-header'" (sidenavToggle) = "sidenav.toggle()"></ngshop-header>
            <main>   
                <router-outlet></router-outlet>
            </main>
            <ngshop-footer></ngshop-footer>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>